html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

.clock-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 40px;
  font-family: 'Chakra Petch', sans-serif;
}
.clock {
  display: block;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 40px;
  text-align: center;
  background-color: lightblue;
  width: 400px;
  height: 100px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
}

.tab-headers {
  display:flex;
}

.tab-headers h1 {
  background: orange;
  border: 1px solid black;
  border-radius: 15px 15px 0 0;
  padding: 10px;
  font-size: 20px;
}

.tab-header:hover {
  background-color: black;
  color: white;
}

.tab-content {
  background-color: orange;
  width: 180px;
  height: 150px;
  border: 1px solid black;
  border-radius: 0 0 5px 5px;
  text-align: center;
}

.tab-widget {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
